{% extends 'base.html.twig' %}

{% block title %}Hello detailController!{% endblock %}

{% block body %}
 <style>
         .miniature{
            height:50px;
         }   
         .exempleSonore{
            height:100px;
         }
         .forSticky{
            height:100rem;
         }
        </style>

        coucou
{# <div class="container">
<div class="row">


<div class="col-8">
<div class="container">
<div class="row">
<div class="fs-1">
{{ Produit.nom }}
</div> 

<img src="/images/{{ Produit.image }} " class="imgdetail mx-auto "> 
<div class="bg-secondary mb-2 miniature">Miniature</div>
<div class="bg-secondary exempleSonore">Exemple sonore</div>
<ul>
{% for desc in description %}
<li>{{desc}}</li> 
{% endfor %}
</ul>
</div>
</div>
</div>

<div class="col-4 bg-secondary forSticky">

<div class="fs-1 sticky-sm-top">
{{ Produit.prix}}€
    <a href="/add/{{Produit.id}}" class="btn btn-success">Ajouter au panier</a>

</div> 



</div>




 </div>
</div>  #}
{% endblock %}